body{
    background-color: rgba(248, 249, 250, 1);
}

#login-form{
    margin-top: 10%;
}

#register-form{
    margin-top: 10%;
}

#upload-form{
    margin-top: 5%;
}

#greeting-p{
    margin-right: 120px;
    width: 250px;
}

#greeting-li{
    width: 40px;
    margin-right: 250px;
    margin-top: 2%;
}

.card-listing{
    margin-top: 2%;
}

#delete-card-button{
    margin-left: 5px;
}

.card-block{
    width: 300px;
}

#no-cards-available-message-div{
    margin-top: 15%;
}

.image-container{
    height: 300px; object-fit: cover;
}

.add-to-cart-error-message{
    display: none;
}

#shopping-cart-icon{
    margin-left: 3px;
}