body{
    background-color: rgba(248, 249, 250, 1);
}

#login-form{
    margin-top: 10%;
}

#register-form{
    margin-top: 10%;
}

#greeting-p{
    margin-right: 120px;
    width: 250px;
}

#greeting-li{
    width: 40px;
    margin-right: 250px;
    margin-top: 2%;
}

#delete-card-button{
    margin-left: 5px;
}

.card-block{
    width: 300px;
}

#no-cards-available-message-div{
    margin-top: 15%;
}